Repository USSF-ORBIT/ussf-portal-client, pull requests merged in 2022-10, with the labels that each got.

#793 dev: storybook: visual enhancements and usability improvements to our Storybook instance
  .storybook/main.js
  .storybook/manager-head.html
  .storybook/manager.js
  .storybook/preview.js
  .storybook/ussfTheme.js
  package.json
Labels: type: enhancement, topic: storybook

#805 chore: dependency updates
  package.json
  src/pages/about-us/index.tsx
  yarn.lock
Labels: dependencies

#815 fix: a11y: enhances focus styling in bookmarks and configures consistent focus styling
  src/components/Bookmark/Bookmark.module.scss
  src/components/Bookmark/Bookmark.tsx
  src/components/CustomCollection/CustomCollection.module.scss
  src/components/CustomCollection/CustomCollection.tsx
  src/styles/_themes.scss
  src/styles/sfds/index.scss
Labels: design, type: a11y

#836 chore: Revert "chore(deps): update amannn/action-semantic-pull-request actio…
  .github/workflows/semantic-pr.yml
Labels: github-actions
